/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input {
  width: 120px;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  margin: 2px;
  outline: 0;
}

input:focus {
  border-color: #B9AD99;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-page {
  border-bottom: 1px solid gray;
  min-height: calc(100vh - 122px);
}


.navbar {
  min-height: 60px;
  background-color: #F4F1EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin: 0;
  z-index: 1;
}

.navbar-left {
  display: flex;
}

 .logo-homepage {
   font-size: 24px;
   width: 200px;
   height: 130px;
   justify-content: center;
   padding: 0px 20px;
   margin-left: 40px;
   display: flex;
   align-items: center;
   background: image-url('greatreads.png');
   background-size: 100%;
 }

 .logo-logged-in {
   font-size: 24px;
   width: 100px;
   height: 80px;
   justify-content: center;
   padding: 0px 20px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   background: image-url('greatreads.png');
   background-size: 100%;
 }

 .logo:hover {
   text-decoration: none;
 }

 .navbar-links-container {
   display: flex;
 }

 .navbar-links {
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

 .navbar-link-container {
   height: 100%;
   display: flex;
   align-items: center;
   color: #382110;
 }

 .navbar-link-container:hover {
   color: #FFFFFF;
   background-color: #382110;
 }

 .navbar-link-container a {

   padding: 0px 30px;
   font-family: "Lato", sans-serif;
   line-height: 50px;
 }

 .navbar-link-container a:hover {
   text-decoration: none;

 }

 .navbar-form-container {
   padding: 0px 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }


 .navbar-form {
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }

 .navbar-form * {
   margin-right: 20px;
 }

 .navbar-form label {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 .signout {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .signout-button {
   display: inline-block;
   background-color: #382110;
   color: white;
   padding: 5px 15px;
   border: 1px solid #382110;
   border-radius: 3px;
   font-size: 13px;
   margin: 2px;
   margin-left: 20px;
 }

 .signout-button:hover {
   background-color: #58371F;
   cursor: pointer;
 }

 .signin {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
 }

.signin-button {
  display: inline-block;
  background-color: #382110;
  color: white;
  padding: 5px 15px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-size: 13px;
  margin: 2px;
}

.signin-button:hover {
  background-color: #58371F;
  cursor: pointer;
}

.signin-button-demo-container {
  display: flex;
  justify-content: flex-end;
}

.signup {
  background: linear-gradient(45deg, transparent, #F4F1EA);
  background: image-url("books.jpeg");
  background-size: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.signup-content {
  width: 280px;
  height: 158;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F1EA;
}

.signup-content p {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  color: #000;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-form input {
  margin: 10px 0px;
}

.signup-button {
  width: 120px;
  background-color: #fdd05f;
  padding: 5px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  color: #333333;
  text-align: center;
}

.signup-button:hover {
  background-color: #FFD56D;
  cursor: pointer;
}


.signup-form label {
  margin: 10px 0;
}

.user-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.user-error {
  color: red;
  padding: 10px 0px;
  margin: 0px 10px;
}

.session-errors-list {
  padding: 0px;
  margin: 0;
  height: 32px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  align-items: flex-end;
  justify-content: center;
}

.session-error {
  color: red;
}

.user-show {
  padding: 30px;
}

.bookshelf-link {
  color: #00635D;
}

.bookshelf-show {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.bookshelf-show-header {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-right: 5px;
}

.user-name-link {
  color: #00635d;
}

.bookshelf-show-sidebar {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

}

.bookshelf-show-sidebar-header {
  font-weight: bold;
  color: #382110;
  line-height: 18px;
}

.bookshelf-show-sidebar ul {
  width: 200px;
  padding: 0;
}

.bookshelf-show-main {

}


.bookshelf-show-link {
  display: inline;
  color: #00635d;
}

.bookshelf-edit-button {
  width: 50px;
  height: 28px;
  font-size: 13px;
  background-color: #F4F1EA;
  color: #333333;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
}

.bookshelf-edit-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.bookshelf-delete-button {
  width: 150px;
  height: 28px;
  font-size: 16px;
  background-color: #B80F28;
  color: white;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  margin-top: 30px;
}

.bookshelf-delete-button:hover {
  cursor: pointer;
}

.bookshelf-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.bookshelf-error {
  color: red;
  padding: 10px;
}

.book-index-table {
  color: #382110;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
}

.book-index-table-headers {
}

.book-index-table th {
  height: 54px;
  font-size: 12px;
  vertical-align: bottom;
  text-align: left;
  padding: 12px 0px 5px 0;
  border-bottom: 2px solid #EBE8D5;
  margin: 0;
}

.book-index-table td {
  color: #181818
}

.table-field-cover {
  min-width: 50px;
}


.table-field-cover img {
  width: 50px;
  display: block;
}

.table-field-title {
  min-width: 60px;
  max-width: 25%;
}

.table-field-title a {
  color: #00635d;
}

.table-field-author {
  width: 20%
}

.table-field-score {
  width: 20%
}

.table-field-delete {
  height: 79px;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book-show {
  width: 965px;
  margin: 0 auto 20px;
  display: flex;
}

.book-show img {
  max-width: 150px;
  margin: 20px;
  box-shadow: 0px 5px 5px black;
  font-family: "Merriweather", serif;
}

.book-show-image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-show-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.book-show-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #181818;
}

.book-show-body-title {
  font-size: 20px;
  color: #382110;
  font-weight: bold;
  line-height: 26px;
}

.book-show-body-author {
  font-size: 12px;
  color: #181818;
}

.book-full-index {
  width: 965px;
  margin: 0 auto 20px;
}

.on-default-shelf-container {
  width: 120px;
  padding: 4px 0px 5px 0px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  background-color: #F4F1EA;
}

.not-on-default-shelf-container {
  width: 120px;
  padding: 4px 0px 5px 0px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  justify-content: center;
  background-color: #409D69;
}

.not-on-default-shelf {
  padding: 0px 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Lato", Arial, serif;
  font-weight: bold;
  color: white;
  text-align:center;
}

.on-default-shelf {
  padding: 0px 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Lato", Arial, serif;
  font-weight: bold;
  text-align:center;
}

.not-on-default-shelf:hover {
  cursor: pointer;
}

.book-show-button-container {
  display: flex;
  justify-content: center;
}

.book-show-button {
  width: 27px;
  padding: 5px;
  border-width: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #38883d;
  color: white;
  background-color: #409D69;
}

.book-show-button:hover {
  cursor: pointer;
}

.book-show-toggle-list {
  padding: 0;
  margin: 1px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 12px;
}

.book-show-toggle-list li {
width: 100%
}

.book-show-toggle-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.bookshelf-ownership-errors {
  color: red;
}

.review-toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-toggle-button {
  display: inline-block;
  background-color: #F4F1EA;
  color: #181818;
  padding: 5px 5px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", Arial, serif;
  margin-top: 10px;
  width: 149px;
}

.review-toggle-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.review-modal-hidden {
  z-index: 0;
  display: none;
}

.review-modal-not-hidden {
  z-index: 50;
}

.review-modal-not-hidden {
  position: fixed;
  top: 12%;
  left: 33%;
  bottom: 75%;
  right: 75%;
  height: 500px;
  width: 700px;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 15px 20px;
}

.review-modal-title {
  font-size: 120%;
  font-family: "Merriweather", serif;
  color: #333333;
  font-weight: bold;
  margin-top: 0;
}

.review-modal-author {
  font-size: 14px;
  font-family: "Merriweather", serif;
  color: #333333;
}

.review-modal-rating {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.review-modal-body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #181818;
  margin-bottom: 10px;
}

.review-modal-body textarea {
  width: 400px;
  height: 150px;
  font-family: "Merriweather", serif;
  font-size: 14px;
  padding: 5px;
}

.full-screen-modal-toggled {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: gray;
  z-index: 20;
}

.radio {
  width: 50px;
  margin-right: 20px;
}

.radio input {
  width: 20px;
}

.review-submit-button {
  font-size: 14px;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  color: #333333;
  background-color: #F4F1EA;
  padding: 8px 12px;
}

.review-submit-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.review-modal-x {
  padding: 2px 0px;
  margin: 0;
  font-family: sans-serif;
}

.review-modal-x:hover {
  cursor: pointer;
}

.review-modal-x-container {
  display: flex;
  justify-content: flex-end;
}

.review-errors {
  padding-left: 0;
}

.review-error {
  color: red;
}

.reviews-list {
  padding-left: 0;
  font-size: 14px;
  color: #181818;
  font-family: "Lato", sans-serif;
}

.review-all {
  display: flex;
  flex-direction: column;
}

.review-header {
  display: flex;
}

.review-user-name {
  color: #00635d;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.review-score {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.review-current-user {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #181818;
  padding-bottom: 20px;
}

.review-delete-button {
  width: 100px;
  background-color: #B80F28;
  color: white;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 4px 6px;
}

.review-delete-button:hover {
  cursor: pointer;
}

.review-body {
  min-height: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.review-current-user-header {
  margin: 0;
  margin-top: 5px;
}

.review-current-user-rated-it {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
}

.remove-book-button {
  width: 125px;
  height: 28px;
  font-size: 14px;
  background-color: #B80F28;
  color: white;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
}

.remove-book-button:hover {
  cursor: pointer;
}

.homepage-quote-text {
  font-size: 32px;
  font-family: 'Felipa', cursive;
  margin-bottom: 12px;
  margin-right: 50px;
}

.homepage-quote-author {
  font-family: "IM Fell English";
  font-size: 16px;
  padding-left: 15px
}

.search-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.search-bar-input {
  width: 200px;
  height: 20px;
  padding: 2px;
  padding-right: 0px;
  margin-right: 0px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar-input:focus {
  outline: 0;
  border-color: #DCD6CC;
}

.search-bar-list {
  position: absolute;
  padding-left: 0;
  top: 12px;
  left: 2px;
  border: 1px solid #E8E8E8;
  width: 375px;
  background-color: white;
  overflow: scroll;
  max-height: 60vh;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.search-bar-item-container {
  height: 55px;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #E8E8E8;


}

.search-bar-item {
  padding: 0;
  display: flex;
  width: 100%;
}

.search-bar-item:hover {
  background-color: #F4F1EA;
  cursor: pointer;
  text-decoration: none;
}

.search-bar-item-left img {
  width: 40px;
  height: 55px;
  margin-right: 8px;
}

.search-bar-item-right {
  display: flex;
  flex-direction: column;
}

.search-bar-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 272px;
  padding: 4px 0;
  font-weight: bold;
  color: #333333;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.search-bar-item-author {
  font-size: 12px;
  color: #333333;
  font-family: "Merriweather", sans-serif;
}

.search-button-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: #DCD6CC 1px solid;
  border-left: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  padding-left: 0px;
}

.search-button-container:focus {
  outline: 0;
  border-color: #B9AD99;
}

.search-button {
  background: image-url('search.png');
  background-size: 100%;
  width: 75%;
  height: 75%;
  border: 0;
}

.search-button:focus {
  outline: 0;
}

.footer-logged-in {
  margin: 0;
  height: 40px;
  background-color: #F4F1EA;
  font-size: 11px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-homepage {
  margin: 0;
  background-color: #F4F1EA;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.book-show-toggle-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-bookshelf-button {
  display: inline-block;
  background-color: #382110;
  color: white;
  padding: 5px 15px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-size: 13px;
  margin: 2px;
}

.add-bookshelf-button:hover {
  background-color: #58371F;
  cursor: pointer;
}

.logo-credit {
  margin: 0;
  padding: 0px 20px;
}

.star-filled {
  background: image-url('filled_star.png');
  background-size: 100%;
  height: 17px;
  width: 17px;
}

.star-empty {
  background: image-url('empty_star.png');
  background-size: 100%;
  height: 17px;
  width: 17px;
}

.star-filled-selectable {
  background: image-url('filled_star.png');
  background-size: 100%;
  height: 17px;
  width: 17px;
}

.star-empty-selectable {
  background: image-url('empty_star.png');
  background-size: 100%;
  height: 17px;
  width: 17px;
}

.star-filled-selectable:hover {
  cursor: pointer;
}

.star-empty-selectable:hover {
  cursor: pointer;
}

.review-modal-stars {
  display: flex;
}

.credits {
  display: flex;
  font-size: 14px;
}

.personal-links {
  display: flex;
  margin-right: 30px;
}

.personal-links a {
  margin: 0 10px;
  font-size: 16px;
}
