/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   height: 100vh;
 }

body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: rgba(244,241,234,0.5);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input {
  width: 120px;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  margin: 2px;
  outline: 0;
}

input:focus {
  border-color: #B9AD99;
}

li {
  list-style: none;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main-page {
  border-bottom: 1px solid gray;
  min-height: calc(100vh - 100px);
  margin-top: 50px;
}

.full-screen-modal-toggled {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: gray;
  z-index: 20;
}

.homepage-quote-text {
  font-size: 32px;
  font-family: 'Felipa', cursive;
  margin-bottom: 12px;
  margin-right: 50px;
}

.homepage-quote-author {
  font-family: "IM Fell English";
  font-size: 16px;
  padding-left: 15px
}
