/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input {
  width: 120px;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  margin: 2px;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-page {
}


.navbar {
  min-height: 60px;
  background-color: #F4F1EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin: 0;
  z-index: 1;
}

.navbar-left {
  display: flex;
}

 .logo {
   font-size: 24px;
   width: 100px;
   height: 80px;
   justify-content: center;
   padding: 0px 20px;
   margin-left: 40px;
   display: flex;
   align-items: center;
   background: image-url('greatreads.png');
   background-size: 100%;
 }

 .logo:hover {
   text-decoration: none;
 }

 .navbar-links-container {
   display: flex;
 }

 .navbar-links {
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

 .navbar-link-container {
   height: 100%;
   display: flex;
   align-items: center;
   color: #382110;
 }

 .navbar-link-container:hover {
   color: #FFFFFF;
   background-color: #382110;
 }

 .navbar-links a {

   padding: 0px 30px;
   font-family: "Lato", sans-serif;
   line-height: 50px;
 }

 .navbar-links a:hover {
   text-decoration: none;

 }

 .navbar-form-container {
   padding: 0px 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }


 .navbar-form {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-top: 20px;
 }

 .navbar-form * {
   margin-right: 20px;
 }

 .navbar-form label {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 .signout {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .signout-button {
   display: inline-block;
   background-color: #382110;
   color: white;
   padding: 5px 15px;
   border: 1px solid #382110;
   border-radius: 3px;
   font-size: 13px;
   margin: 2px;
   margin-left: 20px;
 }

 .signout-button:hover {
   background-color: #58371F;
   cursor: pointer;
 }

 .signin {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
 }

.signin-button {
  display: inline-block;
  background-color: #382110;
  color: white;
  padding: 5px 15px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-size: 13px;
  margin: 2px;
}

.signin-button:hover {
  background-color: #58371F;
  cursor: pointer;
}

.signin-button-demo-container {
  display: flex;
  justify-content: flex-end;
}

.signup {
  background-color: #F4F1EA;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.signup-content {
  width: 200px;
  padding: 0px 150px;
  margin-bottom: 50px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-button {
  width: 120px;
  background-color: #fdd05f;
  padding: 5px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  color: #333333;
  text-align: center;
}

.signup-button:hover {
  background-color: #FFD56D;
  cursor: pointer;
}


.signup-form label {
  margin: 10px 0;
}

.user-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.user-error {
  color: red;
  padding: 10px 0px;
}

.session-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.session-error {
  color: red;
  padding: 10px 0px;
}

.user-show {
  padding: 30px;
}

.bookshelf-link {
  color: #00635D;
}

.bookshelf-show {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.bookshelf-show-header {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-right: 5px;
}

.user-name-link {
  color: #00635d;
}

.bookshelf-show-sidebar {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

}

.bookshelf-show-sidebar-header {
  font-weight: bold;
  color: #382110;
  line-height: 18px;
}

.bookshelf-show-sidebar ul {
  width: 200px;
  padding: 0;
}

.bookshelf-show-main {

}


.bookshelf-show-link {
  display: inline;
  color: #00635d;
}

.bookshelf-edit-button {
  width: 50px;
  height: 28px;
  font-size: 13px;
  background-color: #F4F1EA;
  color: #333333;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
}

.bookshelf-edit-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.bookshelf-delete-button {
  width: 150px;
  height: 28px;
  font-size: 16px;
  background-color: #F4F1EA;
  color: #333333;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  margin-top: 30px;
}

.bookshelf-delete-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.bookshelf-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.bookshelf-error {
  color: red;
  padding: 10px;
}

.book-index-table {
  color: #382110;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
}

.book-index-table-headers {
}

.book-index-table th {
  height: 54px;
  font-size: 12px;
  vertical-align: bottom;
  text-align: left;
  padding: 12px 0px 5px 0;
  border-bottom: 2px solid #EBE8D5;
  margin: 0;
}

.book-index-table td {
  color: #181818
}

.table-field-cover {
  width: 50px;
}

.table-field-cover img {
  width: 50px;
  display: block;
}

.table-field-title {
  width: 25%;
}

.table-field-title a {
  color: #00635d;
}

.table-field-author {
  width: 20%
}

.table-field-avg-score {
  width: 20%
}

.table-field-delete {
  border-bottom: none;
}


.book-show {
  width: 965px;
  margin: 0 auto 20px;
  display: flex;
}

.book-show img {
  max-width: 150px;
  margin: 20px;
  margin-left: 0px;
  box-shadow: 0px 5px 5px black;
  font-family: "Merriweather", serif;
  margin-left: 50px;
}

.book-show-image-column {
  display: flex;
  flex-direction: column;
}

.book-show-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #181818;
}

.book-show-body-title {
  font-size: 20px;
  color: #382110;
  font-weight: bold;
  line-height: 26px;
}

.book-show-body-author {
  font-size: 12px;
  color: #181818;
}

.book-full-index {
  width: 965px;
  margin: 0 auto 20px;
}

.book-show-bookshelf-name-container {
  width: 110px;
  padding: 4px 0px 5px 0px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
}

.book-show-bookshelf-name {
  padding: 0px 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Lato", Arial, serif;
  font-weight: bold;
  color: rgb(24, 24, 24);
  text-align:center;
}

.book-show-button-container {
  display: flex;
  justify-content: center;
}

.book-show-button {
  width: 27px;
  padding: 5px;
  border-width: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: #409D69;
}

.book-show-button:hover {
  cursor: pointer;
}

.book-show-toggle-list {
  padding: 0;
  margin: 1px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 12px;
}

.book-show-toggle-list li {
width: 100%
}

.book-show-toggle-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.bookshelf-ownership-errors {
  color: red;
}

.review-toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-toggle-button {
  display: inline-block;
  background-color: #F4F1EA;
  color: #181818;
  padding: 5px 5px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", Arial, serif;
  margin-top: 10px;
  width: 137px;
}

.review-toggle-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.review-modal-hidden {
  z-index: 0;
  display: none;
}

.review-modal-not-hidden {
  z-index: 50;
}

.review-modal-not-hidden {
  position: fixed;
  top: 12%;
  left: 33%;
  bottom: 75%;
  right: 75%;
  height: 500px;
  width: 700px;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 15px 20px;
}

.review-modal-title {
  font-size: 120%;
  font-family: "Merriweather", serif;
  color: #333333;
  font-weight: bold;
  margin-top: 0;
}

.review-modal-author {
  font-size: 14px;
  font-family: "Merriweather", serif;
  color: #333333;
}

.review-modal-rating {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.review-modal-body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #181818;
  margin-bottom: 10px;
}

.review-modal-body textarea {
  width: 400px;
  height: 150px;
  font-family: "Merriweather", serif;
  font-size: 14px;
}

.full-screen-modal-toggled {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: gray;
  z-index: 20;
}

.radio {
  width: 50px;
  margin-right: 20px;
}

.radio input {
  width: 20px;
}

.review-submit-button {
  font-size: 14px;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  color: #333333;
  background-color: #F4F1EA;
  padding: 8px 12px;
}

.review-submit-button:hover {
  cursor: pointer;
  background-color: #ede6d6;
}

.review-modal-x {
  padding: 2px 0px;
  margin: 0;
  font-family: sans-serif;
}

.review-modal-x:hover {
  cursor: pointer;
}

.review-modal-x-container {
  display: flex;
  justify-content: flex-end;
}

.review-errors {
  padding-left: 0;
}

.review-error {
  color: red;
}

.reviews-list {
  padding-left: 0;
  font-size: 14px;
  color: #181818;
  font-family: "Lato", sans-serif;
}

.review-all {
  display: flex;
  flex-direction: column;
}

.review-header {
  display: flex;
}

.review-user-name {
  color: #00635d;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.review-score {
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
}

.review-current-user {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #181818;
  padding-bottom: 20px;
}

.review-delete-button {
  width: 100px;
  background-color: #B80F28;
  color: white;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 4px 6px;
}

.review-delete-button:hover {
  cursor: pointer;
}

.review-body {
  min-height: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.review-current-user-header {
  margin: 0;
  margin-top: 5px;
}

.review-current-user-rated-it {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
}
