/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 120px;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  margin: 2px;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
}

 .sign-in {
   min-height: 100px;
   background-color: #F4F1EA;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid gray;
   margin: 0;
 }

 .logo {
   font-size: 24px;
   justify-content: center;
   padding: 0px 20px;
 }

 .navbar-form-container {
   padding: 0px 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .navbar {
   display: flex;
   flex-direction: column;
   align-content: center;
 }

 .navbar-form {
   justify-content: flex-end;
 }


.signin-button {
  background-color: #382110;
  color: white;
  padding: 5px 15px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-size: 13px;
  margin: 2px
}

.signin-button:hover {
  background-color: #58371F;
  cursor: pointer;
}

.signup {
  background-color: #F4F1EA;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.signup-content {
  width: 200px;
  padding: 0px 150px;
  margin-bottom: 50px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-button {
  width: 120px;
  background-color: #fdd05f;
  padding: 5px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  color: #333333;
  text-align: center;
}

.signup-button:hover {
  background-color: #FFD56D;
  cursor: pointer;
}


.signup-form label {
  margin: 10px;
}

.user-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.user-error {
  color: red;
  padding: 10px;
}

.session-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.session-error {
  color: red;
  padding: 10px;
}

.bookshelf-link {
  color: blue;
}
