.bookshelf-index {
  border-top: 1px solid gray;
}

.bookshelf-index h3 {
  margin: 0;
  margin-top: 5px;
}

.bookshelf-link {
  color: #63213C;
}

.bookshelf-show {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.bookshelf-show-header {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-right: 5px;
}

.bookshelf-show-sidebar-header {
  font-weight: bold;
  color: #382110;
  line-height: 18px;
}

.bookshelf-show-sidebar ul {
  width: 200px;
  padding: 0;
}

.bookshelf-show-main {

}


.bookshelf-show-link {
  display: inline;
  color: #63213C;
}

.bookshelf-edit-button {
  width: 50px;
  height: 28px;
  font-size: 13px;
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.bookshelf-edit-button:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.bookshelf-delete-button {
  width: 150px;
  height: 28px;
  font-size: 16px;
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
  margin: 5px 0 25px;
}

.bookshelf-delete-button:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.bookshelf-errors-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bookshelf-error {
  color: red;
  padding: 10px;
}

.add-bookshelf-button {
  display: inline-block;
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
  padding: 5px 15px;
  font-size: 13px;
  margin: 2px;
}

.add-bookshelf-button:hover {
  background-color: #63213C;
  color: white;
  cursor: pointer;
}

.bookshelf-show-sidebar {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.user-bookshelf-list {
  padding: 0;
}
