.book-show {
  width: 965px;
  margin: 0 auto 20px;
  display: flex;
}

.book-show img {
  max-width: 150px;
  margin: 20px;
  height: 230px;
  box-shadow: 0px 5px 5px black;
  font-family: "Merriweather", serif;
}

.book-show-image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 334px;
}

.book-show-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.book-show-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #181818;
}

.book-show-body-title {
  font-size: 20px;
  color: #382110;
  font-weight: bold;
  line-height: 26px;
}

.book-show-body-author {
  font-size: 12px;
  color: #181818;
}

.book-index-table {
  color: #382110;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.book-index-table-headers {
  border-bottom: 1px solid gray;
}

.book-index-table th {
  height: 54px;
  font-size: 16px;
  vertical-align: bottom;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0;
}

.book-index-table td {
  color: #181818;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
}
tr {
  border: solid;
  border-width: 1px 0;
}
tr:first-child {
  border: none;
}

.table-field-cover {
  width: 50px;
}


.table-field-cover img {
  width: 100px;
  display: block;
  margin: 10px 0;
}

.table-field-title {
  width: 200px;
}

.table-field-title a {
  color: #63213C;
}

.table-field-author {
  width: 20%;
}

.table-field-score {
  width: 20%
}

.table-field-avg-score {
  width: 15%;
}

.table-field-delete {
  height: 173px;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-full-index {
  width: 965px;
  margin: 0 auto 20px;
}

.on-default-shelf-container {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #63213C;
  color: #63213C;
}

.not-on-default-shelf-container {
  width: 120px;
  display: flex;
  justify-content: center;
  background-color: #63213C;
  color: white;
  align-items: center;
}

.not-on-default-shelf {
  padding: 0px 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Lato", Arial, serif;
  font-weight: bold;
  color: white;
  text-align:center;
}

.on-default-shelf {
  padding: 0px 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Lato", Arial, serif;
  font-weight: bold;
  text-align:center;
}

.not-on-default-shelf:hover {
  cursor: pointer;
}

.book-show-button-container {
  display: flex;
  justify-content: center;
}

.book-show-button {
  width: 27px;
  height: 25px;
  padding: 5px;
  color: #63213C;
  border: 1px solid #63213C;
  border-left: none;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.book-show-button:hover {
  color: white;
  background-color: #63213C;
  cursor: pointer;
}

.book-show-button:focus {
  outline: none;
}

.book-show-toggle-list {
  padding: 0;
  margin: 2px;
  width: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 1px;
  height: 80px;
  transition: height 0.5s ease-out;
  z-index: 20;
  overflow: scroll;
  position: absolute;
  top: 88%;
}

.book-show-toggle-list-hidden {
  padding: 0;
  margin: 0px;
  height: 0px;
  margin-left: 1px;
  z-index: 0;
  font-size: 12px;
  position: absolute;
  top: 88%;
}

.book-show-toggle-list li {
  width: 100%;
  overflow: none;
}

.book-show-toggle-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.bookshelf-ownership-errors {
  color: red;
}

.remove-book-button {
  width: 125px;
  height: 28px;
  font-size: 14px;
  color: #63213C;
  border: 1px solid #63213C;;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.remove-book-button:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.book-show-toggle-list-item {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-full-row {
  height: 90px;
  border-bottom: 1px solid #E8E8E8;
}

.book-full-number {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  vertical-align: top;
}

.book-full-cover {
  padding-right: 0;
  margin-right: 0;
  width: 47px;
}


.book-full-cover img {
  width: 47px;
  height: 75px;
}

.book-full-info {
  display: flex;
  flex-direction: column;
  height: 90px;
  margin-right: 25px;
}

.book-full-title {
  color: #333333;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 14px;
  max-width: 300px;
}

.book-full-author {
  font-size: 12px;
  font-weight: normal;
  color: #333;
  font-family: "Merriweather", serif;
}

.book-full-avg-score {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 11px;
}

.book-full-button-container {
  display: flex;
  justify-content: center;
}

.book-full-button-header {
  width: 150px;
}

.book-full-button {
  width: 150px;
  position: relative;
  text-align: center;
}

.full-index-toggle-list {
  padding: 0;
  margin: 2px;
  width: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 1px;
  height: 80px;
  transition: height 0.5s ease-out;
  z-index: 20;
  overflow: scroll;
  position: absolute;
  left: 4%;
  top: 43%;
}

.full-index-toggle-list-hidden {
  padding: 0;
  margin: 0px;
  height: 0px;
  margin-left: 1px;
  z-index: 0;
  font-size: 12px;
  position: absolute;
  left: 4%;
  top: 43%;
}

.full-index-toggle-list li {
  width: 100%;
  overflow: none;
}

.full-index-toggle-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.book-full-index-table {
  color: #382110;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
  border-collapse: collapse;

}

.book-full-index-table-headers {
  border-bottom: 1px solid #E8E8E8;
}

.book-full-index-table th {
  height: 54px;
  font-size: 12px;
  vertical-align: bottom;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.book-full-index-table td {
  color: #181818;
}

.my-rating {
  color: #999999;
  font-family: "Lato" sans-serif;
  font-size: 11px;
}

.table-border {
  background-color: gray;
}
