.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-welcome {
  width: 90%;
  height: 700px;
  background: image_url('homepage_background3.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: white;
  margin-bottom: 50px;
  font-family: "Philosopher", sans-serif;
  font-size: 28px;
}

.homepage-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  margin-top: 200px;
  font-size: 20px;
}

.homepage-demo p {
  transition: color 0.4s ease 0s;
}

.homepage-demo:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

.homepage-discover {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-discover-example {
  display: flex;
}

.homepage-book-list {
  display: flex;
}

.homepage-book-list img, .homepage-example-after img {
  height: 100px;
  width: 65px;
  margin: 0 15px;
}

.homepage-example-arrow {
  display: flex;
  align-items: center;
}

.homepage-ideas {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.homepage-ideas span {
  // box-shadow: 10px -5px rgba(0, 0, 0, 0.2);
  background:rgba(222,184,135, 0.8);
  border: 1px solid black;
  width: 300px;
  text-align: center;
}

.homepage-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-registration span {
  margin: 5px 0;
}

#homepage-registration-button {
  background-color: green;
}

.homepage-or {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 16px;
  width: 250px;
  margin-bottom: 20px;
}

.homepage-line {
  width: 115px;
  height: 1px;
  top: 62%;
  background-color: white;
  position: absolute;
}

.homepage-books {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.registration {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-content {
  width: 400px;
  height: 350px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.registration-form {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form input {
  width: 250px;
  margin: 5px 0;
}

.registration-button {
  width: 250px;
  border: 1px solid black;
  padding: 0 5px;
  text-align: center;
}

.registration-button:hover {
  cursor: pointer;
}

#signup-button {
  margin-top: 10px;
}

.signin-or {
  display: flex;
  justify-content: center;
  position: relative;
  height: 16px;
  width: 250px;
  margin-bottom: 20px;
}

.signin-line {
  width: 115px;
  height: 1px;
  top: 70%;
  background-color: #d0d0d0;
  position: absolute;

}

#line-left {
  left: 0;
}

#line-right {
  left: 54%;
}

.signin-or * {
  margin: 0;
  padding: 0;
}

.session-errors-list {
  padding: 0px;
  margin: 0;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-errors-list {
  height: 70px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-error {
  color: red;
  margin: 2px 0;
  text-align: center;
}

.registration-bottom-message {
  margin: 5px 0;
}
