.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage-welcome {
  height: 2000px;
  background: image_url('homepage_background.jpeg');
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-welcome h1 {
  margin: 0;
  margin-top: 20px;
}

.homepage-ideas {
  display: flex;
}

.homepage-ideas span {
  display: flex;
  flex-direction: column;
}

.homepage-books {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.signin {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-content {
  width: 400px;
  height: 350px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.signin-form {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form input {
  width: 250px;
  margin: 5px 0;
}

.signin-button {
  width: 250px;
  border: 1px solid black;
  padding: 0 5px;
  text-align: center;
}

.signin-button:hover {
  cursor: pointer;
}

.signin-or {
  display: flex;
  justify-content: center;
  position: relative;
  height: 16px;
  width: 250px;
  margin-bottom: 20px;
}

.signin-line {
  width: 115px;
  height: 1px;
  top: 70%;
  background-color: #d0d0d0;
  position: absolute;

}

#line-left {
  left: 0;
}

#line-right {
  left: 54%;
}

.signin-or * {
  margin: 0;
  padding: 0;
}

.session-errors-list {
  padding: 0px;
  margin: 0;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
