.user-show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  height: 500px;
}

.user-show-name {
  margin: 0;
}

.user-show-title {
  margin: 0;
}

.reading-challenge-title {
  font-weight: bold;
  width: 360px;
}

.reading-challenge-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.reading-challenge-left {
  width: 110px;
  height: 130px;
  background-color: #FA604A;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.reading-challenge-year {
  font-size: 40px;
}

.reading-challenge-image {
  width: 96px;
  height: 20px;
  background: image-url('reading_challenge.svg');
  background-size: 100%;
  padding: 8px 4px 4px 4px;
}

.reading-challenge-message-1 {
  font-size: 21px;
}

.reading-challenge-message-2 {
  font-size: 16px;
}

.reading-challenge-challenge {
  margin: 0;
}

progress{
  height: 1rem;
  width: 10rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  background-color: #ffffff;
}

progress::-webkit-progress-bar{ background-color: #ffffff; }
progress::-webkit-progress-value{ background-color: #00ff7f; }

progress::-moz-progress-bar {
  background-color: #3c00ff;
}

.user-show-current {
  display: flex;
}

.user-show-current-info {
  display: flex;
  flex-direction: column;
  color: #333333;
}

.user-show-current-info p {
  margin-bottom: 0;
}

.user-show-current-title {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

.user-show-current-author {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.user-show-current-cover {
  width: 95px;
  height: 136px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-right: 10px;
}

.user-show-photo-container {
  width: 125px;
  height: 125px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-show-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 100px;
}

.user-show-photo-default {
  width: 58%;
  height: 58%;
}

.user-show-photo-container-preview {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid gray;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-show-photo-default-preview {
  width: 58%;
  height: 58%;
}

.user-show-photo-preview {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.user-name-link {
  color: #63213C;
}

.user-photo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-photo-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#user-photo-input + label {
  display: flex;
  margin: 4px;
  padding: 2px;
  margin-bottom: 10px;
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;}

#user-photo-input + label * {
  margin: 0;
  font-size: 14px;
}

#user-photo-input + label:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.photo-upload-message {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 4px;
  padding-left: 12px;
  width: 96px;
}

.photo-upload-arrow-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 4px;
}

.photo-upload-arrow {
  background: image-url('upload.png');
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-right: 1px;
}

.photo-form-submit {
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
  width: 146px;
  height: 29px;
  padding: 2px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.photo-form-submit:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.photo-form-submit-disabled {
  background-color: transparent;
  border: 1px solid #dddddd;
  width: 146px;
  height: 29px;
  padding: 2px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.photo-form-submit-disabled:focus {
  outline: none;
}

.photo-modal-hidden {
    z-index: 0;
    display: none;
}

.photo-modal-not-hidden {
  position: fixed;
  top: 12%;
  left: 25%;
  height: 400px;
  width: 500px;
  color: #333333;
  background-color: #F4F1EA;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 15px 20px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-modal-toggle-button {
  display: inline-block;
  color: #63213C;
  border: 1px solid #63213C;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;  padding: 5px 5px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", Arial, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 125px;
}

.photo-modal-toggle-button:hover {
  cursor: pointer;
  background-color: #63213C;
  color: white;
}

.photo-errors-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.photo-error {
  color: red;
  padding: 10px 0px;
  margin: 0px 10px;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-currently-reading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
